<!-- Cards1 -->

<div class="row">
  <div class="col"></div>
  <div class="col">
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="../../../assets/profile.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Profile</h5>
            <p class="card-text">
              User Name : {{ userName }} <br />
              User Id : {{ userId }} <br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-white mt-3">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <div class="card h-100" style="background-color: #009688">
          <div class="row">
            <div class="col">
              <div class="card-body">
                <h5 class="card-title">103</h5>
                <p class="card-text">Campaings</p>
              </div>
            </div>
            <div class="col fs-1 justify-content-center mt-3 opacity-25">
              <i class="bi bi-tag-fill"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100" style="background-color: #9c27b0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title">230</h5>
                <p class="card-text">Customers</p>
              </div>
              <div class="col fs-1 justify-content-center mt-1 opacity-25">
                <i class="bi bi-telephone-fill"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100" style="background-color: #f44336">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title">323</h5>
                <p class="card-text">Queries</p>
              </div>
              <div class="col fs-1 justify-content-center mt-1 opacity-25">
                <i class="bi bi-bell-fill"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100" style="background-color: #3f51b5">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title">870</h5>
                <p class="card-text">opens</p>
              </div>
              <div class="col fs-1 justify-content-center mt-1 opacity-25">
                <i class="bi bi-envelope-fill"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Cards2 -->
  <div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img src="../../../assets/img1.png" class="card-img-top" alt="..." />
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/img2.png" class="card-img-top" alt="..." />
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/img3.png" class="card-img-top" alt="..." />
        </div>
      </div>
    </div>
  </div>
</div>
