@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css";
.profile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details{
    border: 1px solid red;
    /* justify-content: end;
    border: black 0.5px solid;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 6px 6px 15px rgb(0, 0, 0);
    width: 25vw; */
}
